body {
    margin: 0;
    height: 100%;

    background-image: url("../images/pokemon-background.png");
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: grid;
    background: transparent;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main";
    height: 100vh;
}

/* -------------------- HEADER -------------------- */

.header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------- MAIN -------------------- */

.main-container {
    grid-area: main;
    padding: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* ---------- Pokedex Image ---------- */

.pokedex-wrapper {
    position: relative;
    display: inline-block;
}

.pokedex-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ---------- Screen ---------- */

.screen-wrapper {
    position: absolute;
    top: 170px;
    left: 67px;

    height: 171px;
    width: 255px;
    padding: 15px;

    background: transparent;

    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    gap: 10px;
}

/* ----- Left Side ----- */

.left-screen {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.pokemon-sprite {
    align-self: center;
}

/* ----- Right Side ----- */

.right-screen {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-bar {
    height: 30px;
    width: 100px;
    padding: 5px;
    background-color: whitesmoke;

    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #222021;

    display: flex;
    align-items: center;
    justify-self: center;
    align-self: flex-end;
    gap: 5px;

    font-family: "Press Start 2P";
    font-size: 6px;
}

.stats-bar {
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: whitesmoke;

    font-family: "Press Start 2P";
    font-size: 7px;

    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #222021;

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 5px;
}

.stats-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.type-icon {
    height: 25px;
    width: 25px;
}

/* ---------- Decorations ---------- */

.absolute {
    position: absolute;
}

#red-circle {
    top: 55%;
    left: 21%;

    height: 30px;
    width: 30px;
    background-color: #d30a40;

    border-radius: 50%;
    box-shadow: 0 0 0 2px #222021;
}

#black-lines {
    top: 55%;
    right: 27%;

    height: 40px;
    width: 80px;
    background: repeating-linear-gradient(
        to bottom,
        #222021 0px,
        #222021 3px,
        transparent 2px,
        transparent 10px
    );
}

#red-line {
    top: 66%;
    left: 27%;

    height: 10px;
    width: 60px;
    background-color: #d3242b;

    border-radius: 999px;
    box-shadow: 0 0 0 2px #222021;
}

#blue-line {
    top: 66%;
    left: 44%;

    height: 10px;
    width: 60px;
    background-color: #04a79e;

    border-radius: 999px;
    box-shadow: 0 0 0 2px #222021;
}

/* ---------- Search Form ---------- */

#search-wrapper {
    bottom: 7%;
    left: 15%;

    height: 100px;
    width: 200px;
    background-color: #3ab549;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #222021;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box { 
    width: 170px;
    background: transparent;

    border: none;
    box-sizing: border-box;

    font-family: "Press Start 2P";
    font-size: 11px;
    caret-color: #222021;
}

#search-box:focus {
    outline: none;
}

input {
    text-transform: uppercase;
}

input::placeholder {
    text-transform: none;
    color: #222021;
    opacity: 1;
}

/* ---------- Buttons----------  */

/* ----- Reset ----- */

#reset-button {
    top: 65%;
    left: 10%;

    height: 50px;
    width: 50px;
    background-color: #58595b;

    border: none;
    border-radius: 50%;
    box-shadow: -3px 2px #252121;

    font-family: "Jost";
    font-weight: 700;
    color: white;

    transition: all 0.1s ease;
}

#reset-button:active {
    transform: translate(-3px, 2px);
    box-shadow: 0 0 #252121;
}

/* ----- Previous ----- */

#prev-button {
    top: 70%;
    right: 35%;

    height: 25px;
    width: 50px;
    background-color: #58595b;

    border: none;
    border-radius: 1px;
    box-shadow: -2px 2px #252121;

    font-family: "Jost";
    font-weight: 700;
    color: white;

    transition: all 0.1s ease;
}

#prev-button:active {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 #252121;
}

#prev-button.pressed {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 #252121;
}

/* ----- Next ----- */

#next-button {
    top: 70%;
    right: 20%;

    height: 25px;
    width: 50px;
    background-color: #58595b;

    border: none;
    border-radius: 1px;
    box-shadow: -2px 2px #252121;

    font-family: "Jost";
    font-weight: 700;
    color: white;

    transition: all 0.1s ease;
}

#next-button:active {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 #252121;
}

#next-button.pressed {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 #252121;
}